
  <p>
    <button [routerLink]="['/companies']">Back</button>
  </p>


  <div>
    <label>Name: </label> 
    <input [(ngModel)]="company.name" [ngStyle]="{'background-color':'red'}">
  </div>
  <div>
    <label>Email: </label>
    <input [(ngModel)]="company.email" name="email">
  </div>
  <div>
    <label>Website: </label>
    <input [(ngModel)]="company.website" name="website">
  </div>

  <button class="btn btn-success btn-lg btn-block" (click)="updateCompany()">Update</button>

