<br><br>
  <div>
    <label>Name: </label> 
    <input [(ngModel)]="companyDetails.name" placeholder="Name">
  </div>
  <div>
    <label>Email: </label>
    <input [(ngModel)]="companyDetails.email" placeholder="Email">
  </div>
  <div>
    <label>Website: </label> 
    <input [(ngModel)]="companyDetails.website" placeholder="Website">
  </div>

  <button class="btn btn-success btn-lg btn-block" (click)="addCompany()">Create</button>

