<h2>COMPANIES</h2>

<button [routerLink]="['/companies','create']">Add New</button><br><br>

<table border = 1>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Logo</th>
    <th>Website</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let company of companies; trackBy: trackByFn">
    <td>{{ company.name }}</td>
    <td>{{ company.email }}</td>
    <td><img [src]="company.logo"></td>
    <td>{{ company.website }}</td>
    <td>
      <button [routerLink]="['/companies', company.id]">View</button>
      <button [routerLink]="['/companies', company.id, 'edit']">Edit</button>
      <button (click)="deleteCompany(company.id)">Delete</button>
    </td>
  </tr>
</table>