
  <p>
    <button [routerLink]="['/employees']">Back</button>
  </p>

  <div>
    <label>Name: </label> {{ employee.first_name }} {{ employee.last_name }}
  </div>
  <div>
    <label>Company: </label> {{ employee.company?.name }}
  </div>
  <div>
    <label>Email: </label> {{ employee.email }}
  </div>
  <div>
    <label>Phone: </label> {{ employee.phone }}


