<br>
<div *ngIf="errors != null">
    <font color="red">{{ errors.error}}</font>
</div>

<label>User</label>
    <input type="text" [(ngModel)]="loginDetails.email" placeholder="User">
    <br>
<label>Password</label>
    <input type="password" [(ngModel)]="loginDetails.password" placeholder="Password">
<br>
    <button (click)="login()">Login</button>
