<h2>EMPLOYEES</h2>

<button [routerLink]="['/employees','create']">Add New</button><br><br>

<table border = 1>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Company</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{ employee.last_name }}</td>
    <td>{{ employee.first_name }}</td>
    <td>{{ employee.company.name }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.phone }}</td>
    <td>
      <button [routerLink]="['/employees', employee.id]">View</button>
      <button [routerLink]="['/employees', employee.id, 'edit']">Edit</button>
      <button (click)="deleteEmployee(employee.id)">Delete</button>
    </td>
  </tr>
</table>