
  <p>
    <button [routerLink]="['/companies']">Back</button>
  </p>

   <h3>"{{ company.name }}"</h3>
  <div>
    <label>Name: </label> {{ company.name }}
  </div>
  <div>
    <label>Email: </label> {{ company.email }}
  </div>
  <div>
    <label>Logo: </label> <img [src]="company.logo">
  </div>
  <div>
    <label>Website: </label> {{ company.website }}
  </div>
