<h1 appHighlight>{{ title | lowercase }}</h1>
<!-- <h1 [ngStyle]="{'background-color': 'blue'}">{{ title | uppercase }}</h1> -->
<h3>Hi, {{ user | lowercase }}</h3>
<h3>The date today is: {{ currentDate | date:'MMM d, y'}}</h3>

 <h1 i18n="@@introductionHeader">
  Hello Welcome
</h1>

<nav *ngIf="isSignedIn">
    <a class="button" routerLink="/dashboard" routerLinkActive="activebutton">Dashboard</a> |
    <a class="button" routerLink="/companies" routerLinkActive="activebutton">Companies</a> |
    <a class="button" routerLink="/employees" routerLinkActive="activebutton">Employees</a> |

  <button class="button" (click)="signOut()" >Log out</button> 
</nav>
   

  <router-outlet></router-outlet>

