<h2>DASHBOARD</h2>

<div *ngFor='let dashboard of Dashboards'>
    {{ dashboard.name }} : {{ dashboard.count }}  <a class="button" routerLink="/{{ dashboard.name | lowercase}}" routerLinkActive="activebutton">More Info</a> 
</div>

