<br><br>
  <div>
    <label>Last Name: </label> 
    <input [(ngModel)]="employeeDetails.last_name" placeholder="Last Name">
  </div>
  <div>
    <label>First Name: </label>
    <input [(ngModel)]="employeeDetails.first_name" placeholder="First Name">
  </div>
  <div>
    <label> Company: </label>
    <select [(ngModel)]="employeeDetails.company_id" id="companies">
        <option *ngFor="let company of companies" [value]="company.id">
          {{ company.name }}
        </option>
      </select>
  </div>
  <div>
    <label>Email: </label> 
    <input [(ngModel)]="employeeDetails.email" placeholder="Email">
  </div>
  <div>
    <label>Contact No: </label> 
    <input [(ngModel)]="employeeDetails.phone" placeholder="Contact No">
  </div>

  <button class="btn btn-success btn-lg btn-block" (click)="addEmployee()">Create</button>

